/* Global */

body {
    font-family: "GT America", sans-serif;
    margin: 0 auto;
}

/* Architecture */
.wrapper {
    padding: 0 16px;
    margin: 0 auto;
}

section {
    padding: 40px 0;
    margin: 0 auto;
}

.container {
    display: grid;
    max-width: 1280px;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 16px;
    margin: 0 auto;
    grid-auto-columns: max-content; /* Prevents children from resizing */
    grid-auto-rows: max-content; /* Prevents children from resizing */
}

/* Container Direction */
.row {
    grid-auto-flow: row;
}

.column {
    grid-auto-flow: column;
}

/* Components */

.card {
    display: grid;
    grid-auto-flow: row;
    gap: 12px;
    width: 320px;
    position: relative;
}

.overlay-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    background: transparent;
}

.overlay-area:hover .video-embed iframe {
    opacity: 1;
}

.video-embed {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 0;
}

.video-embed.portrait {
    padding-bottom: 177.78%; /* For 9:16 aspect ratio */
}

.video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Typography */

h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

/* Aspect Ratios */
.banner {
    aspect-ratio: 7 / 3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.landscape {
    padding-bottom: 56.25%; /* For 16:9 aspect ratio */
}

.portrait {
    aspect-ratio: 9 / 16;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* For 16:9 aspect ratio */
}

/* Utils */
/* Hide scrollbars for all elements */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari, etc) */
*::-webkit-scrollbar {
    display: none;
}

/* Media Queries */

.preview-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* This transparent div blocks all interactions with the iframe */
.interaction-blocker {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; /* Make sure this is above the iframe */
    background: transparent;
    cursor: pointer;
}

.overlay-area {
    position: relative;
    cursor: pointer;
}
