/* Global */

body {
    font-family: "GT America", sans-serif;
    margin: 0 auto;
    background-color: #181818;
    color: #f2f2f2;
}

/* Architecture */
.wrapper {
    padding: 0 16px;
    margin: 0 auto;
}

section {
    padding: 40px 0;
    margin: 0 auto;
}

.container {
    display: grid;
    max-width: 1280px;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 16px;
    margin: 0 auto;
    grid-auto-columns: max-content; /* Prevents children from resizing */
    grid-auto-rows: max-content; /* Prevents children from resizing */
    height: fit-content;
}

/* Container Direction */
.row {
    grid-auto-flow: row;
}

.column {
    grid-auto-flow: column;
    height: fit-content;
}

/* Components */

.card {
    display: grid;
    grid-auto-flow: row;
    width: 320px;
    position: relative;
    height: fit-content;
    gap: 12px;
}

.overlay-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    background: transparent;
}

.overlay-area:hover .video-embed iframe {
    opacity: 1;
}

.video-embed {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 0;
    border-radius: 12px;
    overflow: hidden;
}

.video-embed.portrait {
    padding-bottom: 177.78%; /* For 9:16 aspect ratio */
}

.video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Typography */

h2 {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    color: #f1f1f1;
}

p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: #c5c5c5;
}

strong {
    color: #f1f1f1;
}

a {
    color: #8f8f8f;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

a:hover {
    color: #c5c5c5;
}

/* Aspect Ratios */
.banner {
    aspect-ratio: 7 / 3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
}

.landscape {
    padding-bottom: 56.25%; /* For 16:9 aspect ratio */
}

.portrait {
    padding-bottom: 56.25%; /* For 16:9 aspect ratio */
}

/* Utils */
/* Hide scrollbars for all elements */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari, etc) */
*::-webkit-scrollbar {
    display: none;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .card {
        width: 240px;
    }
}

.overlay-area {
    position: relative;
    cursor: pointer;
}

#hero {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Spas_vsederzhitel_sinay_%28cropped1%29.jpg/800px-Spas_vsederzhitel_sinay_%28cropped1%29.jpg");
    max-height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 12/3;
}

@media screen and (max-width: 768px) {
    section {
        padding: 20px 0;
    }
}

.info-text {
    height: fit-content;
    gap: 4px;
    display: flex;
    flex-direction: column;
}
